%div#main
  .container
    .row
      .col-xs-12
        %p Loading...

%div#round_page

/ General Use Modal
.modal.fade#myModal{ tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => true }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times;
        %h4.modal-title#myModalLabel
      .modal-body
