.row#round-header
  div.col-md-5
    h3 #{this.model.get('event')} &mdash; Round #{this.model.get('round_num')}
      if this.model.get('notes')
        small= this.model.get('notes')
      small.glyphicon.glyphicon-remove
  div#timer.col-md-2.text-center
    button#toggle-timer.btn.btn-default.btn-xs Start
    span#runner
    span#set-timer-input.form-inline
      input.input-sm.form-control(type="number", placeholder="Min.")
    button#set-timer.btn.btn-default.btn-xs Set
    button#reset-timer.btn.btn-default.btn-xs.hidden Reset

div#speech-wrapper

  div#speech-area
