<div>
  <p>
    Greetings <%= @user.name.capitalize %>,
  </p>
</div>

<div>
  <p>
    Thank you for signing up for <%= link_to "Arbitr", "http://usearbitr.com" %>. We hope this web application makes the debate flowing process a little less frustrating for you. We are working hard to make this app better all the time and rely on feedback from our users. If you have any suggestions or would like to report any bugs, please contact us.
  </p>
  <p>
    Otherwise, we'll leave you alone. Happy debating!
  </p>
</div>

<div>
  <p>
    Yours truly,<br>
    Team MegaMackinnotron
  </p>
</div>
