@font-face {
  font-family: 'archisticonormal';
  src: url('/assets/Archistico_Simple-webfont.eot');
  src: url('/assets/Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/Archistico_Simple-webfont.woff') format('woff'),
       url('/assets/Archistico_Simple-webfont.ttf') format('truetype'),
       url('/assets/Archistico_Simple-webfont.svg#archisticonormal') format('svg');
  font-weight: normal;
  font-style: normal;

}

