// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#tournaments {
  padding-top: 1.5em;
}

body { 
  height: 100%;
}

.logo {
  font-family: 'fff_tusjbold';
}

img {
  max-width: 100%;
}

// Homepage

.jumbotron {
  margin-top: -1em;
  background: url(/assets/blackboard.jpg) #292929;
  color: #FFF;
}

// Navbar

.navbar {
  min-height: 0px;
  height: 45px;
}

.navbar-brand {
  font-family: 'fff_tusjbold';
  font-size: 32px;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 9px;
}

// Round pages

#round_page {
  width: 100%;
  margin: 0;
  padding: 0;
}

#round_page .row {
  margin-left: 0;
  margin-right: 0;
}

#round-header {
  font-size: 1.5em;
  padding: 0 8px;
  margin-bottom: 10px;
}

#set-timer-input input {
  width: 60px;
}

#speech-wrapper {
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 570px;
  height: 100%;
  margin-right: 0;
}

#speech-area {
  float: left;
  max-height: 100%;
  margin-right: -999em;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.speech {
  width: 260px;
  float: left;
  border: 1px solid #C9C4C4;
  border-radius: 5px;
  margin: 0 5px;
  padding: 4px;
  max-height: 100%;
  -webkit-box-shadow: 2px 2px 5px #CCC;
  -moz-box-shadow: 2px 2px 5px #CCC;
  box-shadow: 2px 2px 5px #CCC;
}

.speech-contentions {
  overflow-y: auto;
  overflow-x:hidden;
  padding:4px 2px 1px;
  max-height: 500px;
}

.open-composer {
  padding: 6px 4px;
  display: block;
}

.contention {
  max-width: 300px;
  min-height: 18px;
  padding: 5px;
}

.contention li {
  margin-left: -10px;
}

.contention textarea {
  width: 100%;
  min-height: 80px;
  margin-bottom: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contention .glyphicon, #round-header .glyphicon {
  cursor: pointer;
}

.contention .glyphicon:hover, #round-header .glyphicon:hover {
  color: #7C7B7B;
}

.contention .glyphicon:empty {
 width: 1.2em; 
}

.refute {
  cursor: pointer;
}

// Media Queries

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 9px;
  }
}