div.navbar-header
  button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href="#") Arbitr
div.collapse.navbar-collapse
  ul.nav.navbar-nav.navbar-right
    // li
    //  a(href="#about") About
    if gon.currentUser
      // li.dropdown
      //   a.dropdown-toggle(href="#", data-toggle="dropdown") Rounds
      //     b.caret
      //   ul.dropdown-menu
      //     li
      //       a
      //         strong.text-muted Recent Rounds
      //    li.divider

      li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          span.glyphicon.glyphicon-user
          Account
          b.caret
        ul.dropdown-menu
          li
            a#myTournaments(href="#") My Tournaments
          li
            a#editAccount(href="#") Edit Account
          li.divider
          li
            a#signOut(href="#") Sign Out
    else
      li
        a(href='#', id='sign_up_link') Sign Up
      li
        a(href='#', id='sign_in_link', data-toggle="modal", data-target="#myModal") Sign In
