<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset="UTF-8", http-equiv="content-type">
  </head>
  <body>
    <style>
      div {
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 0.9em;
        margin-left: 5%;
        margin-right: 5%;
      }
    </style>

    <%= yield %>

  </body>
</html>
